

.header {
    height: 45vh;
    background-image: linear-gradient(
        to right bottom, 
        hsla(184, 76%, 67%, 0.76), 
        hsla(0, 0%, 100%, 0.842)), 
        url(../images/alexander-schimmeck-2zJhA9RSkys-unsplash.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 60px;
}

.heading-primary-main {
    display: block;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 35px;
}

