/* .first-color { 
	background: #cbf078; 
}
	
.second-color { 
	background: #f8f398; 
}

.third-color { 
	background: #f1b963; 
}

.fourth-color { 
	background: #e46161; 
} */



.header {
    height: 70vh;
    background-image: linear-gradient(
        to right bottom, 
        hsla(210, 45%, 91%, 0.411) 0%, 
        white 100%), 
        url(../images/alexander-schimmeck-2zJhA9RSkys-unsplash.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.text-box {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.heading-primary {
    color: #35495e;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem) rotate(-60deg);
    }

    60% {
        transform: rotate(360deg);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}