* {
  box-sizing: border-box;
  font-family: 'Staatliches', cursive;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.vendors {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.vendor.card {
    display: flex;
    width: 250px;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    font-size: 45px;
    text-align: center;
}

.link {
  text-decoration: none;
  cursor: pointer;
}
