* {
  box-sizing: border-box;
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Comfortaa', cursive;
  background-color: azure;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.vendors {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    margin: 12%;
}

.vendor.card {
    display: flex;
    width: 200px;
    height: 250px;
    align-items: center;
    padding: 16%;
    font-size: 45px;
    text-align: center;
    align-content: stretch;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 300px;
  height: 300px;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.cart-items {
  display: flex;
  width: 100;
  height: 100;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 35px;
  font-size: 15px;
  text-align: center;
}

.cart-card {
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.orders-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.order-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-image {
  max-width: 50px;
  max-height: 75px;
}

.vendor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-text {
  text-align: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 17%;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    text-align: center;
    padding: 5px;
}

.signup {
    display: flex;
    justify-content: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.add-item {
  display: flex;
}

.add-itemform {
  display: flex;
}

.empty {
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin-top: 13%;
}


